.textfield{
  -fx-background-color: transparent;
  -fx-text-fill: #000000;
  -fx-border-color:  #004C4C;
  -fx-border-width: 0px 0px .4px 0px;
}
.textfield:focused{
  -fx-border-color:#000000;
  -fx-border-width: 0px 0px 1px 0px;
}
.combo-box{
  -fx-background-color: transparent;
  -fx-border-color:  #004C4C;
  -fx-border-width: 0px 0px .4px 0px;
}
.side-btn {
  -fx-background-color: transparent;
  -fx-border-radius: 5px; /* Округлені кути */
  -fx-cursor: hand; /* Зміна курсора при наведенні */
}
.side-btn:hover {
  -fx-background-color: rgba(255, 255, 255, 0.2); /* Прозорий колір фону при наведенні */
  -fx-cursor: hand;
}
.close-button {
  -fx-background-color: transparent; /* Колір фону кнопки */
  -fx-border-color: transparent; /* Колір межі кнопки */
  -fx-cursor: hand;
}

.close-button:hover {
  -fx-background-color: #ff0000; /* Колір фону кнопки при наведенні */
  -fx-background-radius: 3;
  -fx-padding: 5 10;
  -fx-font-size: 14px;
  -fx-border-color: transparent;
  -fx-border-width: 0;
  -fx-border-radius: 2;
}
/* Стиль кнопки для згортання */
.minimize-button {
  -fx-background-color: transparent;
}

.minimize-button:hover {
  -fx-background-color: rgba(255, 255, 255, 0.2); /* Прозорий колір фону при наведенні */
}


.card {
  -fx-background-color: white;
  -fx-border-color: white;
  -fx-background-radius: 16px;
  -fx-border-radius: 16px;
  -fx-border-width: 2px;
  -fx-padding: 10px;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 4);
  -fx-wrap-text: true; /* Автоматичне перенесення тексту */
  -fx-cursor: hand;
}

.table-view {
  -fx-background-color: transparent;
  -fx-border-color: linear-gradient(to bottom, #004C4C, #006666);
  -fx-border-width: 2px;
  -fx-border-radius: 8px;
  -fx-padding: 0;
  -fx-text-fill: #ffffff;
}

.table-view .column-header-background {
  -fx-background-color: rgba(255, 255, 255, 0.2);
  -fx-background-radius: 8px 8px 0 0;
  -fx-background-insets: 0 0 0 0;
}

.table-view .column-header, .filter {
  -fx-background-color: linear-gradient(to bottom, #004C4C, #006666);
  -fx-size: 50px;
}

.label-title {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-padding: 10px 0; /* Додає відстань між заголовком і текстом */
}

.info-pane {
  -fx-background-color: #E0E0E0;
  -fx-border-color: #E0E0E0;
  -fx-background-radius: 16;
  -fx-border-radius: 16;
}